.MainContainer {
    flex: 1;
    margin-left: 250px; /* Space for the sidebar */
    margin-top: 10vh; /* Space for the header */
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.3s ease-in-out;
  }
  
  .MainContainer.full-width {
    margin-left: 0;
  }
  
  @media (max-width: 768px) {
    .MainContainer {
      margin-left: 0;
    }
  }
  