.profile-section {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.profile-image {
    width: 50px;
    height: 50px;
    overflow: hidden; 
    border-radius: 50%; 
}

.profile-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.profile-name {
    height: 50px;
   
    display: flex;
    flex-direction: column;
    gap: auto;
    color: white; /* Change text color to white */
    /* background-color: brown; */
    justify-content: center;
}
h3 {
    font-size: 12px;
}
.profile-name h3:last-child {
    color: rgb(141, 163, 169); /* Lighter blue color for "Member" */
}

