.service-cards {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 20px;
}

.card {
	background-color: hsl(0, 0%, 100%);
	color: hsl(0, 0%, 0%);
	padding: 20px;
	border-radius: 8px;
	text-align: center;
	flex: 1 1 200px;
	max-width: 250px;
	box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
	transition: transform 0.3s;
}

.card:hover {
	transform: scale(1.05);
	cursor: pointer;
	background-color: hsl(45, 100%, 51%);
}
.card-icon {
	font-size: 50px;
	height: 65px;
	margin-bottom: 10px;
	object-fit: contain;
}
