/* Sidebar.css */
.Sidebar {
  background-color: #1f1f1f;
  color: white;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
}

.Sidebar.collapsed{
  transform: translateX(-100%);
  /* width: 0; */
}

.sidebar.open {
  transform: translateX(0);
}

.Sidebar .toggle-btn {
  display: none;
}

.toggle-btn {
  background-color: #ffc107;
  color: black;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.toggle-btn:hover {
  background-color: #e0a800;
}

.sidebar-content {
  padding: 20px;
}

.Profile {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 20px;
  /* background-color: rgb(145, 77, 164); */
}

.SidebarMenu {
  list-style: none;
  margin: 0;
}

.SidebarMenu li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  font-size: 12px; 
}

.SidebarMenu li .menu-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.SidebarMenu li.active {
  /* font-weight: bold; */
  color: #ffc107;
  text-decoration: underline;
  text-decoration-color: white; 
  text-underline-offset: 6px;
}

.SidebarMenu li:hover {
  color: #ffc107;
}

@media (max-width: 768px) {
  .Sidebar {
    position: absolute;
    z-index: 1000;
    /* height: 100vh; */
  }

  .Sidebar.closed {
    transform: translateX(-100%);
  }

  .Sidebar .toggle-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: -50px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  .Sidebar {
    transform: translateX(0);
  }

  .toggle-btn {
    display: none;
  }
}
