.form-header {
    background-color: #EDEDED;
    color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: 100px;
}

.header-text h1 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: -5px 80px;


}