.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #EDEDED;

}

.Layout {
  display: flex;
  flex: 1;
  overflow: hidden;
  
}

header {
  flex-shrink: 0;
  height: 60px;
}
